body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  background-color: #f5f4fa;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0 0;
  padding: 0 0;
}

img {
  display: block;
}

/*--------------Main site text color---------------*/
:root {
  --main-text-color: #212121;
  --sub-text-color: #757575;
  --hover-focus-text-color: #2196f3;
  --adress-mail-color-header: #757575;
  --adress-mail-color-footer: #ffffff 60%;
}

/*-----------------Logo stalys---------------------*/
.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--main-text-color);
}
.logo-web {
  color: var(--hover-focus-text-color);
}

/*-------------Header text decoration--------------*/
.header-main {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.conteiner-flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
}

.conteiner {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-navigation {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-navigation-list {
  display: flex;
  list-style: none;
  align-content: center;
  padding: 0 0;
  margin: 0 0;
}

.header-navigation-list .header-navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-link {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  color: var(--main-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-focus-text-color);
  color: var(--hover-focus-text-color);
  position: absolute;
  display: block;
  bottom: -1px;
}

.header-conection {
  list-style: none;
  display: flex;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: auto;
}

.header-conection .header-conection-li + .header-conection-li {
  margin-left: 50px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-mail,
.header-tel {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--adress-mail-color-header);
}

.header-tel:hover,
.header-mail:hover,
.header-tel:focus,
.header-mail:focus,
.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--hover-focus-text-color);
}

.use {
}

/*-------------Footer text decoration-------------*/

.footerbg {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logoft {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}

.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-map:hover,
.footer-link-mail:hover,
.footer-link-tel:hover {
  color: var(--hover-focus-text-color);
}

.footer-adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress-list {
  list-style: none;
}

.footer-link-map:focus,
.footer-link-mail:focus,
.footer-link-tel:focus {
  color: var(--hover-focus-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list {
  display: flex;
  list-style: none;
}

.footer-connect {
  display: flex;
  justify-content: space-between;
}

.footer-connect-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-top: 20px;
}

.footer-social-link {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--hover-focus-text-color);
  color: #ffffff;
}

.footer-subscribe-form {
  display: flex;
}

.footer-subscribe-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
}

.footer-form {
  display: flex;
}

.footer-input {
  background: #2f303a;
  padding: 0;
  margin-top: 20px;
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  height: 50px;
  min-width: 200px;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--hover-focus-text-color);
  margin-left: 12px;
  margin-top: 20px;
}

.icon-footer {
  margin-left: 10px;
}

/*-------------Main page text decoration----------*/
.banner {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgpeople.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.big-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-left: 267px;
  padding-right: 267px;
  margin-bottom: 30px;
}

.order-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--hover-focus-text-color);
}

.icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon {
}

.competence {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.competence-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.competence-item:not(:last-child) {
  margin-right: 30px;
}

.competence-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.competence-title {
  margin-bottom: 10px;
}

.competence-about {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--sub-text-color);
  width: 270px;
  letter-spacing: 0.03em;
}

.wedo {
  padding-bottom: 94px;
  background-color: #ffffff;
}

.wedo-text {
  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

.wedo-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.wedo-item {
  list-style: none;
}

.wedo-wrap {
  position: relative;
}

.wedo-text-up {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-text {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

.our-team-list {
  list-style: none;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-proffesion {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--sub-text-color);
  text-align: center;
  margin-top: 10px;
}

.our-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.team-proffesion {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
  margin-top: 16px;
}

.team-social-link {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:focus,
.team-social-link:hover {
  background-color: var(--hover-focus-text-color);
  color: #ffffff;
}

.client {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-titel {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.client-list-item {
  display: flex;
  width: 170px;
  height: 92px;
}

.client-list-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:focus,
.client-list-link:hover {
  border: 1px solid var(--hover-focus-text-color);
  border-radius: 4px;
  color: var(--hover-focus-text-color);
}

.client-icon:focus,
.client-icon:hover {
  color: var(--hover-focus-text-color);
}

/*-------------Portfolio text decoretion------------*/

.bgmain {
  background: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 9px;
}

.button-item {
  display: inline-block;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: inline-block;
  background-color: #f5f4fa;
  cursor: pointer;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.foto-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 50px;
}

.foto-item {
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto-item:nth-of-type(3n) {
  margin-right: 0px;
}

.foto-item:nth-child(n + 4) {
  margin-top: 30px;
}

.foto-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-item:hover .owerlay-text {
  transform: translateY(0%);
}

.owerlay-size {
  position: relative;
  overflow: hidden;
}

.owerlay-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto-titel {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.foto-about {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--sub-text-color);
}

.foto-text {
  padding: 20px 24px;
}

/*----------------Modal----------------*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 750ms, visibility 750ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--hover-focus-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-titel {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}

.modal-input-area {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-area:focus + .modal-icon {
  fill: var(--hover-focus-text-color);
}

.modal-input-area:hover + .modal-icon {
  fill: var(--hover-focus-text-color);
}

.modal-input-area:focus,
.modal-input-coment:focus {
  border-color: var(--hover-focus-text-color);
}

.modal-input-coment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-coment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
}

.checkbox {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 12px;
  margin-top: 20px;
  position: relative;
}

.modal-input-checkbox {
  width: 15px;
  height: 15px;
  border-color: #212121;
  margin-top: 3px;
  visibility: hidden;
  position: absolute;
}

.modal-checkbox-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-self: center;
}

.modal-link {
  color: var(--hover-focus-text-color);
  text-decoration: none;
  position: relative;
  margin-left: 5px;
  padding-top: 2px;
}

.modal-link::after {
  bottom: 5px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: var(--hover-focus-text-color);
  color: var(--hover-focus-text-color);
}

.madal-send-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  border-color: var(--hover-focus-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-checkbox-text .check-item {
  background-color: var(--hover-focus-text-color);
  border: none;
}
