.competence__icon__list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 60px / 2);
    justify-content: space-between;
    position: relative;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% - 240px / 4);
  }
}

.competence__icon__item {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    display: flex;
    justify-content: center;
      margin-bottom: 161px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 30px;
  }
}

.competence {
  @media screen and (min-width: 320px), (max-width: 479px) {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.competence__about__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 60px / 2);
    position: absolute;
    top: 700px;
    }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    text-align: left;
  }
}

.competence__about__item {
  list-style: none;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    &:nth-child(n +3){
      margin-top: 206px;
    }

    &:nth-child(-2n + 3){
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.competence__about__title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.competence__about__description {
  text-align: left;
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.pc__competence {
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.mobile__tab__competence {
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mob-tab {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mob-tab__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.mob-tab__title__about {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}