.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.conteiner-flex {
  @media screen and (max-width: 479px) {
    width: 100%;
    align-items: center;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    width: 767px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
}

.mobile__menu__btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: 0;

  &_icon {
    fill: var(--main-text-color);
  }

  &:focus,
  &:hover {
    fill: var(--hover-focus-text-color);
  }
}

.header__navigation {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__navigation__list {
  display: flex;
  list-style: none;
  align-content: center;
  padding: 0 0;
  margin: 0 0;
}

.header__navigation__list {
  .header__navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__navigation__link {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  color: var(--main-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--hover-focus-text-color);
  }

  &:focus {
    color: var(--hover-focus-text-color);
  }
}

.header__navigation__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-focus-text-color);
  color: var(--hover-focus-text-color);
  position: absolute;
  display: block;
  bottom: -1px;
}

.header__conection__list {
  list-style: none;
  display: none;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header__conection__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--hover-focus-text-color);
    }

    &:focus {
      color: var(--hover-focus-text-color);
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.header__conection__list .header__conection__item + .header__conection__item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__mobile-menu__link-nav {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  color: var(--adress-mail-color-header);

  &:hover {
    color: var(--hover-focus-text-color);
  }

  &:focus {
    color: var(--hover-focus-text-color);
  }
}

.btn__close {
  position: absolute;
  right: 25px;
  top: 21px;
}

.mobile__menu__btn {
  display: block;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;

  &_icon {
    fill: var(--main-text-color);
  }

  &:focus,
  &:hover {
    fill: var(--hover-focus-text-color);
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.header__mobile__menu {
  position: absolute;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;

  @media screen and (min-width: 767px) {
    display: none;
  }

  .header__mobile__menu__conteiner {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
  }
}

.header__mobile-menu__list-nav {
  display: block;
  margin-right: auto;
  margin-left: 0px;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.header__mobile-menu__item-connect {
  list-style: none;
  font-size: 24px;
}

.header__mobile-menu__link-nav {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--hover-focus-text-color);
  }
}

.header__mobile-menu__item-nav {
  &:nth-child(3n + 3) {
    padding-top: 32px;
  }

  &:nth-child(3n + 2) {
    padding-top: 36px;
  }
}

.header__mobile-menu__list-connect {
  margin-bottom: 64px;
}

.header__mobile-menu__link-connect {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;

  &.black-size {
    color: #757575;
    font-size: 24px;
  }
}

.header__mobile-menu__item-connect + .header__mobile-menu__item-connect {
  margin-top: 32px;
}

.header__mobile-menu__social__list {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header__mobile-menu__social__item {
  &:not(:last-child) {
    padding-right: 20px;
  }
}

.header__mobile-menu__social__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.after::before {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  color: rgba(33, 33, 33, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0px;
  display: block;
  margin-left: -10px;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 302px;

  &__bottom {
    position: absolute;
    bottom: 48px;
  }
}

.header__mobile__menu__conteiner {
  display: flex;
}
